.footer
  padding:
    top: 2.6rem
    bottom: 2.7rem
  background-color: $footer-bg

  &__list
    display: inline-flex
    flex-wrap: wrap
    justify-content: center
    margin-left: 5.5rem
    list-style-type: none

  &__item
    margin: 1.5rem 2.9rem

  @media(max-width: $screen-sm)
    &__wrapper
      display: flex
      justify-content: center

    &__list
      flex-direction: column
      margin-left: 0

    &__item
      margin: 1.5rem 0
