.header
  padding-top: 5.8rem
  background-color: $introduction

  .logo
    display: flex
    margin-left: 4.7rem

  .navbar
    &__list
      display: inline-flex
      margin:
        top: .9rem
        left: 7.2rem
      list-style-type: none

      &__item
        margin: 0 .5rem

  @media (max-width: $screen-sm)
    padding-top:  2rem

    .logo
      margin: 0 auto

    .navbar
      &__list
        flex-wrap: wrap
        justify-content: center
        margin-left: 0

        &__item
          margin:
            top: 2rem
            right: 0
            left: 0




