.button
  @include font($white, 1.8rem, normal, 600, 2.62rem)
  display: flex
  justify-content: center
  width: 29.3rem
  margin: 5.3rem auto 0
  padding:
    top: 2.2rem
    bottom: 1.7rem
  border: 0
  border-bottom: .5rem solid $orange-dark
  border-radius: .5rem
  outline: none
  background-color: $orange
  text-align: center
  text-decoration: none
  text-transform: uppercase
  cursor: pointer

  &--portfolio
    margin: 1.8rem auto 0
    border-bottom: .5rem solid darken($services, 10%)
    background-color: $services

  &--contact
    margin-top: 2.8rem
    border-bottom: .5rem solid darken($blue-light, 10%)
    background-color: $blue-light
    font-weight: 400
    letter-spacing: -.18rem
