.form
  &__input
    @include font($white, 1.8rem, normal, 400, 1.8rem)
    width: 77%
    height: 5.6rem
    margin-bottom: 2.7rem
    padding-left: 2.4rem
    border: 0
    outline: none
    background-color: $blue-medium

    &::placeholder
      color: $white
      font-family: TitilliumWeb, sans-serif
      opacity: 1

    &--name,
    &--message
      margin-left: 12.5rem

    &--message
      height: 20rem
      padding-top: 2.4rem

  @media (max-width: $screen-md)
    &__input
      width: 100%

      &--name,
      &--message
        margin-left: 0

