.icon
  color: $white
  font-size: 1.8rem

  &__wrapper
    text-align: center

  &__background
    display: inline-flex
    align-items: center
    justify-content: center
    width: 3.2rem
    height: 3.2rem
    margin: 0 .3rem
    border-radius: 50%
    background-color: $gray-light

    &:hover
      background-color: darken($gray-light, 10%)

