.line
  display: block
  width: 8.7rem
  height: .4rem
  margin: 0 auto 1.8rem
  background-color: darken($services, 10%)

  &--gray
    margin-bottom: 1.9rem
    background-color: darken($team, 10%)

  &--yellow
    background-color: darken($portfolio, 10%)

  &--pink
    background-color: darken($about, 10%)

  &--blue
    background-color: darken($contact, 10%)
