.ring,        // sass-lint:disable force-pseudo-nesting
.ring:after, // sass-lint:disable force-pseudo-nesting
.ring:before // sass-lint:disable force-pseudo-nesting
  width: 16rem
  height: 16rem
  border-radius: 50%

.ring
  display: flex
  position: relative
  align-items: center
  justify-content: center
  border: 1.3rem solid $gray-medium

  &__percentage
    @include font($title-dark, 5rem, normal, 300, auto)
    position: absolute
    margin-right: .5rem

  &__percentage-sign
    @include font($title-dark, 3.2rem, normal, 300, 2.1rem)

  &:after,
  &:before
    position: absolute
    top: -1.3rem
    left: -1.3rem
    transform: rotate(45deg)
    border: 1.3rem solid
    border-color: $blue-light $blue-light transparent transparent
    content: ''

  &:before
    transform: rotate(45deg + 40 * 3.6deg)

  &--pink
    &:after,
    &:before
      border-color: $get-in-touch $get-in-touch transparent transparent

    &:before
      transform: rotate(45deg + 25 * 3.6deg)

  &--green
    &:after,
    &:before
      border-color: $services $services transparent transparent

    &:before
      transform: rotate(45deg + 20 * 3.6deg)

  &--orange
    &:after,
    &:before
      border-color: $orange $orange transparent transparent

    &:before
      transform: rotate(45deg + 35 * 3.6deg)
