.tile
  @include font($white, 1.6rem, normal, 400, 1.8rem)
  padding: .4rem 1.7rem
  transition: all .2s
  border-radius: .5rem
  background: transparent
  text-decoration: none
  text-transform: uppercase

  &--menu
    &:hover
      background-color: darken($introduction, 10%)

  &--portfolio
    @include font($gray-dark, 1.8rem, normal, 400, 1.95rem)
    margin:  0 .5rem
    padding: .9rem 2.4rem
    background: darken($portfolio, 10%)
    color: $white
    cursor: pointer

    &:hover
      background: $white
      color: $blue-dark

  @media (max-width: $screen-sm)
    &--portfolio
      margin-bottom: 2rem
