@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.eot?36665979');
  src: url('/fonts/fontello/fontello.eot?36665979#iefix') format("embedded-opentype"), url('/fonts/fontello/fontello.woff2?36665979') format("woff2"), url('/fonts/fontello/fontello.woff?36665979') format("woff"), url('/fonts/fontello/fontello.ttf?36665979') format("truetype"), url('/fonts/fontello/fontello.svg?36665979#fontello') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before {
  content: '\f099';
}

/* '' */

.icon-facebook:before {
  content: '\f09a';
}

/* '' */

.icon-mail-alt:before {
  content: '\f0e0';
}

/* '' */

.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */