html
  font-family: TitilliumWeb, sans-serif
  font-size: 62.5%

  *
    margin: 0
    padding: 0
    box-sizing: border-box

  body
    background-color:  $white

    .title-primary
      @include font($white, 4rem, normal, 700, 4.9rem)
      text-align: center

    .title-secondary
      @include font($white, 4rem, normal, 700, 3rem)
      margin-bottom: 2.1rem
      letter-spacing: .4rem
      text-align: center
      text-transform: uppercase

      &--dark
        color: $title-dark

      &--team
        margin-left: .6rem
        letter-spacing: .3rem

    .title-tertiary
      @include font($white, 1.8rem, normal, 400, 2.6rem)
      letter-spacing: .025em
      text-align: center

      &--services
        margin:
          bottom: 8.1rem
          left: .5rem


      &--align-left
        margin-top: .4rem
        color: $yellow-light
        font-weight: 700
        text-align: left

      &--dark
        color: $gray-dark

      &--team
        margin-bottom: 7.7rem
        letter-spacing: 0

      &--skills
        margin-bottom: 8.1rem

      &--portfolio
        margin-bottom: 4rem

      &--about
        margin-bottom: 7rem
        font-weight: 600

      &--contact
        margin-bottom: 7.4rem

    .caption
      @include font($white, 2.4rem, normal, 700, 2.6rem)
      text-align: center
      text-transform: uppercase

      &--dark
        color: $blue-dark

      &--services
        margin-bottom: 1.8rem

      &--team
        margin-bottom: .8rem

      &--skills
        margin-top: 2.7rem

        &:last-child
          flex-basis: 100%

      &--alt
        @include font($gray-dark, 1.8rem, normal, 400, 1.95rem)
        text-transform: uppercase

    .caption-secondary
      @include font($blue-light, 1.6rem, normal, 400, 1.8rem)
      margin-bottom: 2.1rem
      letter-spacing: .1rem
      text-align: center

      &--about
        margin-top: .4rem
        color: $yellow
        text-align: left

    .description
      @include font($white, 1.6rem, normal, 300, 2.4rem)
      margin: 0 3rem
      text-align: center

      &--dark
        margin-bottom: 2.8rem
        color: $blue-dark

      &--oblique
        font-size: 2.1rem

    .link
      @include font($white, 2.4rem, normal, 600, 3rem)
      transition: all .2s
      text-decoration: none

      &:hover
        color: $blue-light

    .sentence
      @include font($white, 2.1rem, italic, 400, 3.12rem)
      margin:
        right: 2rem
        bottom: 2.1rem
      letter-spacing: .07rem

  @media (max-width: $screen-lg)
    body
      .description
        margin:
          right: 0
          left: 0


  @media (max-width: $screen-sm)
    body
      .title-primary
        @include font($white, 2.8rem, normal, 700, 3.6rem)

      .title-tertiary
        margin-bottom: 4rem

  @media (max-width: $screen-md)
    body
      .title-secondary
        line-height: 4rem

      .sentence
        margin-right: 0

      .caption-secondary
        text-align: center

  @media(min-width: $screen-md)
    body
      .caption
        &--align-left
          text-align: left

