.about
  padding:
    top: 11.8rem
    bottom: 1.1rem
  background-color: $about

  &__wrapper
    &__item
      display: inline-flex
      margin-bottom: 13rem

    &:nth-child(2n)
      .about__wrapper__item
        margin-left: 2rem

    &:nth-last-child(-n + 2)
      .about__wrapper__item
        margin-bottom: 10rem

    &:last-child
      .sentence
        margin-right: 0

    &__img
      flex-shrink: 0
      width: 10rem
      height: 10rem
      margin-right: 5rem
      border-radius: 50%
      background-color: $gray-dark
      overflow: hidden

  @media (max-width: $screen-md)
    padding:
      top: 5rem
      bottom: 1.1rem


    &__wrapper
      &__item
        flex-direction: column
        align-items: center
        margin-bottom: 5rem

      &:nth-child(2n)
        .about__wrapper__item
          margin-left: 0

      &:nth-last-child(-n + 2)
        .about__wrapper__item
          margin-bottom: 5rem

      &__img
        flex-wrap: wrap
        margin: 2.5rem 0
