.introduction
  display: flex
  justify-content: center
  padding:
    top: 13.6rem
    bottom: 14.5rem
  background-color: $introduction

  @media (max-width: $screen-md)
    padding:
      top: 5rem
      bottom: 5rem
