.portfolio
  padding:
    top: 11.9rem
    bottom: 10.9rem
  background-color: $portfolio

  &__controls
    display: flex
    justify-content: center
    margin-bottom: 6.3rem

    &__list
      display: inline-flex
      margin-left: 2.1rem
      list-style-type: none

  &__item
    margin-bottom: 6.2rem
    text-align: center

  &__img
    width: 100%
    height: auto
    margin-bottom: 2.5rem

  @media (max-width: $screen-md)
    padding:
      top: 6rem
      bottom: 5rem


    &__controls
      margin-bottom: 3.5rem

      &__list
        flex-wrap: wrap
        justify-content: center
