.services
  padding:
    top: 11.8rem
    bottom: 12.6rem
  background-color: $services

  &__img
    display: block
    min-height: 13.3rem
    margin: 0 auto 4.8rem

  @media (max-width: $screen-md)
    padding:
      top: 6rem
      bottom: 5rem


    &__item
      margin-bottom: 3.5rem
