.skills
  padding:
    top: 11.7rem
    bottom: 11.9rem
  background-color: $white

  &__item
    display: flex
    flex-wrap: wrap
    justify-content: center

  @media (max-width: $screen-xl)
    &__item
      margin-bottom: 3.5rem

  @media (max-width: $screen-md)
    padding:
      top: 6rem
      bottom: 5rem
