.team
  padding:
    top: 12rem
    bottom: 12.7rem
  background-color: $team

  &__img
    display: block
    width: 200px
    height: 200px
    margin: 0 auto 3.6rem
    border-radius: 50%
    background:
      position: center
      color: $gray-dark
      size: cover
    overflow: hidden

  @media (max-width: $screen-lg)
    &__item
      margin-bottom: 3.5rem

  @media (max-width: $screen-md)
    padding:
      top: 6rem
      bottom: 5rem
